[2015-09-27 14:56] nlottig94 opened #1 "Schedule"
I am available after class on Mondays and Wednesdays until 1pm.  I am also available on Tuesdays until 1pm and Thursdays until 11am.  Just letting everyone know!  Have a fantastic Sunday!!

[2015-09-27 23:15] brookestewart commented on #1
I'm available after 3 on Mondays and Wednesdays. I can also do anytime before 2 on Tuesdays and Thursdays.

[2015-09-28 11:11] alexthattalks commented on #1
I am available Mondays and Wednesdays from 3-5:30. I am also available after class until 1, but I have that time reserved if I need to do something for my job. Other than that, I work all day Tuesday and Thursday.

[2015-09-28 14:27] blawrence719 commented on #1
I'm usually available Mondays 2:30-4:00, Tuesdays after 2:30, Thursdays after 11:30, and Fridays after 1.

[2015-09-29 16:02] ebeshero commented on #1
@amielnicki @blawrence719  @nlottig94  @brookestewart Hmmm. This is difficult, team Dickinson! I'm teaching two classes on M W F afternoons, so that means I'm only available on M W F at these times:
- after our class until around 1ish
- between 3 - 3:45ish on M W.
- after 5:15 on M W
- anytime after 3 on F (because my late afternoon class is only M W).

I could be available any time of day on Tues

[2015-09-29 16:55] nlottig94 commented on #1
I cannot do Fridays at 3pm.  I have to work.  I'm sorry.

[2015-09-30 03:12] brookestewart commented on #1
I also have to work on Fridays.

[2015-09-30 13:02] ebeshero commented on #1
@nlottig94 @blawrence719 @brookestewart @amielnicki I think we might just meet briefly right after our class, to get everyone started. Meetings don't need to be long since we can coordinate tasks here in GitHub. But I do need to show you some things about the Dickinson files and point out some things you could do with the poems, connected with your project proposals.

[2015-10-04 00:10] ebeshero opened #2 "Orientation and Where We Might Go Next:"
## Orientation to the Repurposed Emily Dickinson Fascicle 16 Project

I started this as a "repurposing" project: taking an old website that was broken and incompatible with current web standards and "up-converting" it to TEI XML so it could last and maintain its value. Let's begin by reviewing the original website, ["Translating Emily: Digitally Re-Presenting Fascicle 16"](http://www.cs.virginia.e

[2015-10-04 00:19] ebeshero commented on #2
I've started a Wiki page on this GitHub to hold a list of resources for our research: https://github.com/ebeshero/EmilyDickinson16/wiki/Resources-for-Emily-Dickinson-Research

[2015-10-05 15:52] ebeshero opened #3 "Brainstorm!"
By Friday 10/9: Post your ideas for what we could do with the project's TEI files. researching other texts, and/or website overhauling! @amielnicki @brookestewart @blawrence719 @nlottig94

[2015-10-08 01:54] brookestewart commented on #3
I definitely think we all agree that we need a homepage that fully explains the project. In addition, I think it's important to find and fix the transcription errors, as accuracy is pretty important in general. I still think it would be interesting to explore why these particular poems were bound together. This would be something that we could research to help provide context and background.
As fo

[2015-10-08 14:33] nlottig94 commented on #3
I agree with @brookestewart that we need to make a homepage that explains what the site is all about and that we should find the transcription errors and correct them.  I also think we could even try to understand and explain why the publishers changed the poems and how this could have altered the meaning of the poems altogether.  I also like how @brookestewart said about finding how and why these

[2015-10-09 12:06] blawrence719 commented on #3
I agree with the homepage idea and researching why the poems were bound together. I also think that it would be interesting to find different versions of each of these poems - like the one we discussed after class which had different pronouns in different versions. We also need to figure out the best way that we can show how Dickinson wrote a line two different ways. I am not sure what the best wa

[2015-10-09 13:38] alexthattalks commented on #3
A homepage is definitely something we need to tackle. I think we should overhaul the entire look and feel of the site as well. Create something a bit more intuitive and user friendly, with a modern look and feel. "Flat design" is very big right now and I have substantial experience in design concepts, color theory and user experience. This type of design is all about getting the most information a

[2015-10-14 00:13] ebeshero opened #4 "Shared Web Space for Team Dickinson"
The Pgh Supercomputing folks have set up the web space for the Dickinson project.
To access your space, using WinSCP or another SFTP program of your choice, do this:
1) go to access **your own** web space first.
2) navigate _up_ to a parent directory, and do that again. (So, **go up two levels**.)
3) then, navigate down the following: **var/www/html**

You'll see three folders: dickinson16, ebb8,

[2015-10-15 20:36] nlottig94 opened #5 "What to do for this week...."
So I'm still not quite sure what we need to have accomplished with this project by tomorrow.  Is there any way you could help me out on something to do @ebeshero ?  I really appreciate it!!

[2015-10-15 21:44] brookestewart commented on #5
I'm also unsure of what to do...

[2015-10-16 11:42] ebeshero commented on #5
Well, you could try experimenting with something in the html layout...or even just start movin in some files in the new project webspace.

[2015-10-16 13:14] nlottig94 commented on #5
Okay, thanks!!

[2015-10-16 13:32] nlottig94 commented on #5
Okay, so I created a new folder and put all of the Fascicle 16 images in it.  Then I moved these to our webspace!  I figured it would be nice to have all of those images in one place.  I plan to maybe organize the rest of the pictures in folders, so we know which images go together.

[2015-10-21 16:06] nlottig94 opened #6 "What to do this week..."
Dr. B. told me that she wants us all to experiment with trying to make a table of contents list or table by using XSLT  to filter through all of the Emily Dickinson files that we downloaded today from GitHub.  She said to look over XSLT Exercise 5.  Also, she said someone could create a CSS stylesheet for it as well!  Is this all, @ebeshero ??

[2015-10-23 01:15] nlottig94 commented on #6
I created an XSLT to output a table on html that displays all of the variants of the entire collection of poems.  I had the Dickinson folder that holds all of the poems on my local desktop where I initially had my XSLT saved! @ebeshero @amielnicki @blawrence719 @brookestewart

[2015-10-23 01:21] nlottig94 commented on #6
I also pushed my output html to GitHub too!!

[2015-10-23 01:27] brookestewart commented on #6
Great! I'll get started on creating a css template.

[2015-10-23 02:01] blawrence719 commented on #6
I am going to start work on a homepage.

[2015-10-23 19:02] nlottig94 commented on #6
I pushed the Dickinson folder that is holding the collection of xml poems to GitHub, so I also tweaked my table xslt a bit.  I then went ahead and put all we did last night onto our web space.  If someone wants to try to link everything together?  Also, I believe @amielnicki is going to look through all of the poems to make sure the transcriptions are correct.  I make try to tweak the table a litt

[2015-10-23 19:03] nlottig94 commented on #6
Also, if I forgot to put something on here that @ebeshero talked with us about this morning, feel free to post about it @brookestewart @amielnicki @RJP43

[2015-11-06 15:51] #6 closed, assigned to nobody

[2015-11-06 15:51] #5 closed, assigned to nobody

[2015-11-06 15:53] nlottig94 opened #7 "What we did for this week!!"
@brookestewart and I combined our tables that we created for XSLT Exercise 7!  It looks awesome!!  Check it out!

[2015-11-06 16:03] nlottig94 commented on #7
So @brookestewart and I are splitting up the poems so we can read through them and make sure there aren't any transcription errors for next week!!

[2015-11-06 20:29] ebeshero commented on #7
Yay! I'm looking forward to checking it out shortly...

Sent from my iPad

[2015-11-09 22:37] brookestewart opened #8 "Missing Image?"
I'm checking for transcription errors in the poems, but there only seems to be one image for Poem 8 that cuts off in the middle of the poem. Any idea where the other image could be? @ebeshero @nlottig94 @blawrence719 @amielnicki

[2015-11-09 22:59] ebeshero commented on #8
@brookestewart Brooke: Thanks for checking these carefully! Is this the image you're looking for?
http://www.cs.virginia.edu/cgi-bin/cgiwrap?user=ajf2j&script=BrowseSpace&BS_file=fascicle16.bsp&BS_node=fs1608&BS_edge=NextPage

This is one of the pages on Michele Ierardi's old site. Try browsing that site for images if I'm missing them on my pages.

[2015-11-09 23:09] ebeshero commented on #2
@amielnicki @blawrence719 @brookestewart @nlottig94 I see lots of great activity on the project lately, especially with checking for transcription errors! One question: Is anyone looking into
a) the different published versions of the poems, or
b) looking for other versions of the poems in this fascicle, in _other_ collections of Dickinson's poems? What I mean is: sometimes Dickinson rewrote a poe

[2015-11-09 23:09] brookestewart commented on #8
Yes! Thank you @ebeshero!

[2015-11-09 23:12] ebeshero commented on #7
@nlottig94 @brookestewart Is your new table on this page?
https://github.com/ebeshero/EmilyDickinson16/blob/master/lottig_10-30_xsltExercise7.xsl

If so, I like your color scheme. But let's not be making the poem's lines align center. That's not the way these poems would conventionally be formatted anyway: you want to align them left, but you want to move your left margin over so you're essentiall

[2015-11-13 13:48] alexthattalks opened #9 "Example from XSLT 6"
Hi everyone! Dr. B suggested I share this to the group. It doesn't have to be the same colors or anything, but this is they styling I came up with to show the variants of each of the lines in the poems. Perhaps we could apply some sort of styling like this to the poems on each of their pages to show where there are variants.

http://newtfire.org/~mielnic/Dickinson/

I can also clean it up and make

[2015-11-22 18:51] alexthattalks opened #10 "Site Header & Menu"
Hi All!

So I wanted to do something for the Dickinson project to kind of showcase what I can do as far as the styling of the site and HTML. I have created a menu/header that we could use on all of the pages. Please take a look at the link below and let me know what you think. I went with blues, because in the things other people have made for the group, blue seems to be a popular color.

My web d

[2015-12-01 21:13] blawrence719 opened #11 ""Final Harvest" Variant"
Ignore the title of this, I hit a button on my keyboard and published this issue in the middle of typing the title and hadn't even typed up the issue yet.

But anyway, I've just pushed a file that's a sample of Poem 3 with the `@wit` for the "Final Harvest" version of the poem. I was unsure how to set the id at the top, so for now they are labeled as `#fh` but it isn't defined as anything yet.

I'

[2015-12-01 22:00] brookestewart commented on #11
I'm not sure of the answers to your questions, but it looks good to me! Anyone else?

I have class until 7, but I was planning on making a complete list of which poems were published where. I also need to push the poems with the corrected transcriptions, so I will do that as well.

What exactly did we agree to have completed for tomorrow? Sorry, I was quite tired in class and forgot!

[2015-12-01 22:22] ebeshero commented on #11
Hi Brookes both! I will take a look at the files, and let's work on a task list here. I'm en route dropping off books  from our book drive today.

[2015-12-02 02:31] brookestewart commented on #11
Here is the breakdown of where each poem was published, taken from the original website. The Final Harvest and Centenary Editions have the most complete list, each only missing one poem.
Poem 2 was published the most, at 4 times.

1890 Poems, edited by Mabel Loomis Todd and Thomas Wentworth Higginson `#poems1`
4, 10
1891 Poems, Second Series, edited by Mabel Loomis Todd and Thomas Wentworth Higgin

[2015-12-02 04:15] ebeshero commented on #11
@blawrence719 Brooke: This code looks good: Yes, this is how you work in new variants, but we should add information in the file to identify th witnesses and explain what we're doing. We can talk about how to do that tomorrow.

[2015-12-02 04:20] ebeshero commented on #11
@brookestewart Great work with plotting this--and it is probably information we will want to represent on the new website! This is very helpful. Let's think about which of these versions are most interesting to code and study.

[2015-12-02 04:31] ebeshero commented on #11
@amielnicki @nlottig94 Have a look at what the Brookes did here with a) coding in a new witness on poem 3 and b) noting which poems were published where. Do we want to represent each of these in our code to study how these poems were altered, or select some that look especially interesting?

Brooke Lawrence's code of poem 3 with the Final Harvest edition alterations marked is here: https://github.

[2015-12-02 18:26] ebeshero opened #12 "Coding rdg wit when the witnesses agree on something"
I can't remember how we decided to resolve this. When two (or more) witnesses agree to represent something (like "firmest" in the following line):

[code]

Do we want to go with representing each `@wit` in a separate `<rdg>` element, or do we want to collapse those into one with two attribute values separated by a white space?  (That would look like this:)

[code]

If you do that, you need to `tok

[2015-12-02 20:30] ebeshero opened #13 "listWit examples"
From the TEI P5 page: Here are some examples of listWit: http://www.tei-c.org/release/doc/tei-p5-doc/en/html/examples-listWit.html

For links outward, use `<ref target="http://...stuff">Title of Site</ref>`

[2015-12-02 22:18] nlottig94 commented on #11
@brookestewart I was on the original Emily Dickinson site and could not find where you got the Atlantic Monthly.... Enlighten me???

[2015-12-02 22:35] brookestewart commented on #11
@nlottig94 http://www.cs.virginia.edu/cgi-bin/cgiwrap?user=ajf2j&script=BrowseSpace&BS_file=fascicle16.bsp&BS_node=1601var&BS_edge=Next

You have to click on index, then Fascicle 16, then "this poem with its variants" and "next Fascicle poem with its variants" and it will be on the bottom. I went through all of the poems that way.

[2015-12-03 03:02] nlottig94 commented on #13
The listWit section for each poem is finished!  If someone could double check that I have all of the witnesses in each poem, that would be great!!  They are all using the XML poems in the Dickinson poems!  I didn't rename anything!!

[2015-12-03 20:23] blawrence719 commented on #11
@brookestewart Unless you have already started adding variants to the poems, I am going to work with poems 1-5

[2015-12-04 02:40] brookestewart commented on #11
@blawrence719 Sorry, I'm just now getting a chance to get on here! That works for me!
As far as the em dash goes, `&#8212;` works for `—` instead of a regular dash. If you do the ctrl and f and search for alt0151, that should find all the em dashes in the code and you can just replace them with the `&#8212;`.
Is this what we were talking about on Wednesday, guys? If so, I could go ahead and do tha

[2015-12-04 02:51] brookestewart commented on #12
I don't remember either... @blawrence719?
@nlottig94 you did the Schematron, correct? Does it matter to you?

[2015-12-04 02:55] nlottig94 opened #14 "Image Mapping"
So I found an image mapping generator:  http://imagemap-generator.dariodomi.de/

I also found some guidelines:   http://www.javascriptkit.com/howto/imagemap.shtml   AND   http://www.w3schools.com/tags/tag_map.asp

[2015-12-04 02:56] nlottig94 commented on #12
I thought that we had discussed doing the second option
(`<l>Put me in on the <app>
                  <rdg wit="var0 #fh">firmest </rdg>
                  <rdg wit="var1">tightest </rdg>
                  <rdg wit="var2">highest—</rdg>
               </app>side—</l>-`)

However, I believe @amielnicki was doing the Schema...

[2015-12-04 02:57] nlottig94 commented on #14
Can we look at this tomorrow??  @ebeshero

[2015-12-04 05:18] ebeshero commented on #14
Yes! Let's give it a whirl: Choose a ms image we can try out together.

[2015-12-04 16:09] nlottig94 opened #15 "Two Emily Dickinson Witnesses"
We have to have two Emily Dickinson witnesses because Dickinson wrote at least one of the poems in this collection in a different way in a letter. So we're introducing some new members of our `<listWit>`:
`@xml:id="df16"` is used to indicate Emily Dickinson's version of a poem in fascicle 16
`@xml:id="df21"` is for the poem Dickinson wrote in the letter to Sue.

In the `<app>` markup in the body o

[2015-12-05 04:43] blawrence719 commented on #11
Just finished pushing files with poems 1-5 and all of their variants. But looking at @brookestewart 's post, I'm realizing I forgot to change the em dashes. I will fix this later.

[2015-12-05 05:37] ebeshero opened #16 "Poem 11 and the Alternate Version in the Letter to Susan"
@brookestewart @amielnicki @nlottig94 @blawrence719 Here is a manuscript photo facsimile of Poem 11's different version outside Fasicle 16, as written in a letter to Susan Dickinson, her sister-in-law and very close friend.

http://www.edickinson.org/editions/1/image_sets/237453

From looking at the Creative Commons Permissions on this site, I think we are clear to use this image on our own site,

[2015-12-06 18:26] alexthattalks opened #17 "Variant Image Files"
Hey All,

I organized the variant image files and renamed them according to the ID's we agreed upon, in a separate folder for each fascicle poem. I also downloaded all of the missing image files that were not already on GitHub.

I will be working on my XSLT, javascript and CSS for most of the day today. I will also be adding documentation to the Wiki for GitHub, and posting additional image files

[2015-12-07 00:40] alexthattalks opened #18 "Work This Weekend!"
I have worked all day and done a TON to move us forward with my XSLT file to evaluate the poems that have been completely marked up.

As of now, I have ran my XSLT on Poems 1 - 5, and if I do say so myself, everything looks really good!

Currently, I have it set so the page loads with the Fascicle versions of the poem. The colored buttons on the side toggle each of the versions associated with tha

[2015-12-07 16:37] alexthattalks opened #19 "Bios Bios Everywhere!"
Hey all!

If you can send a brief Bio about yourself for our website, that would be WONDERFUL!!

Just go ahead and post the Bio into this issue and I will add it to our about page with the picture we took in class today.

@nlottig94 @blawrence719 @brookestewart

Thanks guys!

[2015-12-07 16:56] nlottig94 commented on #19
Are we all turning in selfies as well?!?

[2015-12-07 17:12] alexthattalks commented on #19
Sure! We'll have individual selfies plus the group:)

[2015-12-08 03:56] alexthattalks commented on #18
@ebeshero Any input?

[2015-12-08 16:15] ebeshero commented on #18
@amielnicki @nlottig94 @brookestewart @blawrence719 Great work, Alex! The page design is gorgeous! (Sorry I haven't had time to reply until now, what with the GitHub crisis yesterday and a back-to-back meetings and classes all day.) But I'm looking now, and here are some issues I notice:
- Take a look at this poem: http://dickinson16.newtfire.org/mielnicki/1601.html and click on each of the publis

[2015-12-08 16:18] ebeshero commented on #18
One possibility might be to create two separate viewboxes: one for the Fascicle 16 version and its variants, and the other, to sit next to it, to contain different published versions, with their variations from fascicle 16 highlighted (and the toggle boxes to cycle through each). Thoughts?

[2015-12-08 16:21] ebeshero commented on #18
@amielnicki @nlottig94 @brookestewart @blawrence719
Wait: I think I understand what you're doing: On click, you want the different variants to sit side by side to help the reader to compare them. That's okay so long as you provide some instructions and explanations to the viewer... But let's think about if there are some other things we can do with JavaScript to help set these in relation to each

[2015-12-08 16:31] alexthattalks commented on #18
Yep! That's exactly what I was going for with that design. To be able to compare the variants side by side.

The JavaScript will also be triggering highlighting of the boxes over the images we map of each variant.

I also realize documentation needs added so the user knows what to do, as well as the documentation we talked about for judgement calls, why we did things, etc.

[2015-12-09 02:57] ebeshero commented on #14
@nlottig94 @amielnicki
I'm hunting about here, and I think the answer to how we highlight the image map and correlate to our variants is with JavaScript! I've seen lots of really simple examples that, on mouse-hover or mouse-click of an area of an image map, generate some text or trigger some function. I think the solution here is likely to be that we write JavaScript that on click of a variant in

[2015-12-09 04:38] ebeshero commented on #14
Here's where I am now: http://www.svennerberg.com/2008/09/imagemap-rollover/
And from reading this, I think we may want to make our image maps with Photoshop, so we can slice layers.

[2015-12-09 14:22] ebeshero commented on #14
I have been learning about some different approaches to highlighting areas in an image map, and when we meet in class this morning, I want to spend time with your group going over some basic strategies we could try.  As @nlottig94 and I were discovering yesterday, this isn't a simple process, because image maps aren't designed for the areas you've drawn to be modified with CSS properties.

An imag

[2015-12-09 15:36] brookestewart commented on #19
![12003276_1108041695890138_1143117249444451493_n](https://cloud.githubusercontent.com/assets/14084707/11689382/b41eadd6-9e5f-11e5-9f19-e85a80fddfe8.jpg)
Here is my SELFIE. Happy, @nlottig94?!
Brooke Stewart is a 20 year old Sophomore at University of Pittsburgh at Greensburg, majoring in English Literature. She works part-time at Dairy Queen on the weekends. She enjoys reading, traveling, and exp

[2015-12-09 15:54] blawrence719 commented on #19
Brooke Lawrence is a 20 year old Junior at University of Pittsburgh at Greensburg, majoring in Creative and Professional Writing with a minor in Gender Studies and pursing a Digital Studies Certificate. She enjoys climbing mountains and writing about her adventures. She plans to graduate in 2017 and continue her studies in grad school.

[2015-12-09 16:35] blawrence719 opened #20 "Home, About, and Conclusion Pages (Brooke Lawrence's Stuff)"
Reminder to self: work on analysis and paragraph for homepage.

[2015-12-09 18:48] ebeshero commented on #14
Okay--so we worked out an alternative approach in which @nlottig94 and @amielnicki are working on creating box-marked images that will respond to javascript functions @amielnicki has written for the buttons on the pages. We'll draw boxes around the variant areas with to generate marked images, and then apply image-mapping (either with the web-based software Nicole was using before or in Photoshop)

[2015-12-10 03:05] brookestewart commented on #16
@ebeshero I cannot find the second page of this poem, at least not on the archive site... The last three lines are missing.

[2015-12-10 04:56] ebeshero commented on #16
@brookestewart Interesting! I can't find it in the Harvard edickinson.org site either, but I also don't see any evidence from the Harvard site's TEI edition that anything was missing in their transcription. I bet the editors there _did_ see that page, and I wonder if the problem is just a missing image on their website. There are two ways to find out:
1) Go to look at the Dickinson manuscript pape

[2015-12-10 06:03] nlottig94 commented on #14
All images (poems) are done except for poem 11.  Also, I have to go in and set up all of the titles and the hrefs, but that's a simple task compared to the photoshop and image mapping!!  Goodnight!

[2015-12-10 06:33] ebeshero commented on #14
Wow, @nlottig94 ! That is speedy work! How was Photoshop for image mapping? (Want to try writing a tutorial on the process and compare available tools for it (after the semester is over?)

[2015-12-10 15:22] nlottig94 commented on #14
@ebeshero I actually used the tool I found online for it, but I do have poem 11 to do, so I will try to figure out how to do that on photoshop.  Also, I just included the `@alt` and `@title` to the original Dickinson poem 1...I want someone to look at this before I go on.  It has taken me an hour just to do that one, so it's hard work.  If anyone would be willing to split the work load, I'd apprec

[2015-12-10 15:50] ebeshero commented on #14
@nlottig94 I'm looking at your `@title` attributes here at https://github.com/ebeshero/EmilyDickinson16/blob/master/dickinson-image-mapping.html , and wow--that is intensive! It's also very old-fashioned (though you may not know this!)--because you are creating the kinds of notes that would appear in a printed edition of Dickinson's poems, when you can't do the dynamic highlighting that Alex is pr

[2015-12-10 16:14] brookestewart opened #21 "Indentation in Versioning"
@blawrence719 I noticed that there are three spaces before the beginning of some lines, especially in poem 3. Are these the indentations? If so, does that work and should I fix my code to look like this? @amielnicki @nlottig94 @ebeshero any thoughts?

[2015-12-10 16:34] brookestewart commented on #16
Okay, I will finish the poem using their transcription and make a comment tag!
As for contacting them, the only contact I could find was a support form, so I filled it out to let them know about the missing image.

[2015-12-10 16:44] nlottig94 commented on #14
This sounds so much easier!  Okay, I'll do that.  Also, @ebeshero do you want me to put in the lines for all of the other published editions as well?

[2015-12-10 16:46] nlottig94 commented on #14
Also, do I put a dash in this, or the alternate `&#8212;` ?

[2015-12-10 18:08] blawrence719 commented on #21
I believe there were two poems that I worked on that had versions that indented every other line and I wasn't sure how to code this, but the way that I did it didn't work. I just used a tab at the start of the line. I also wasn't sure if we wanted to represent this in our versions or how we would do that since our code gives the option of having two different versions sit side by side. I don't hav

[2015-12-10 19:28] ebeshero commented on #14
Good questions! I was just thinking you only need our transcription of Emily Dickinson's text to appear in the tooltip mouseover, and it's really for people who have trouble reading her handwriting.

As for the dash, good question! Try our special character code first and see if it renders--and if it does, that's best to use. Does it work?

[2015-12-10 19:35] ebeshero commented on #21
Yikes! Okay--the indentation is only in the print editions, right? If so, I would suggest we not worry about encoding or representing it, since we don't have a good way of doing that in our web interface where we are comparing the versions all together in one spot. (We don't need to worry about it bc we can show the print page layouts on click of our JavaScript buttons.)

In XML and HTML you reall

[2015-12-10 19:59] blawrence719 commented on #20
@ebeshero It's sad to admit, but I forget the rules for writing html. I'm trying to include examples from the poems. How would I do this? I have them as `<lg>` and `<l>` right now and it gives me an error.

[2015-12-10 20:51] ebeshero commented on #20
Aha! Are you trying to include some sample markup from our TEI, to **display it in your HTML pages about the Dickinson project**? That is a really great idea (and I hope it's what you're trying to do). What has to happen is you need a special HTML element for holding a block of pre-formatted text (really to keep your line-breaks in place, though you know?! It might hold indentations intact too re

[2015-12-10 22:47] nlottig94 commented on #14
Okay, @ebeshero , I have figured out how to do image mapping in photoshop!  I used this tutorial: http://www.ehow.com/how_4499356_make-image-map-using-photoshop.html

However, it almost seems harder to input this into the html document, but I'll do it for poem 11.

[2015-12-10 22:56] nlottig94 commented on #14
To add to the previous comment, I am getting the values of my coordinates, but I will have to input all of these into my html.  So, for time's sake, I'm going to use the online generator.  But I do know how to do it otherwise!!

[2015-12-10 23:01] ebeshero commented on #14
@nlottig94 After you save your file in Photoshop, can you then reopen it in oXygen as HTML, and does it then have the same code that the web tool generates?

It may well be the web tool is easiest for this, but it's worth an experiment!

[2015-12-10 23:10] blawrence719 commented on #20
@ebeshero @amielnicki I've pushed my file with a rough draft of the conclusion in case we wanted it up tomorrow for our presentation or if Dr. B wants to read through the conclusion and suggest any changes/additions.

[2015-12-10 23:17] nlottig94 opened #22 "Colors"
@amielnicki

I had to add another color/href because we have another witness for poem 11.  I put it on the wiki!!  But here it is:
Letter by Susan Dickinson

Tag: #lSD
Poem(s): 11
Color: `#ec008c`

[2015-12-11 01:05] brookestewart opened #23 "Merge Conflict"
I went to sync Github before I started working and it said there was a merge conflict. I'm not sure what to do, but I know I don't want to mess anything up! This is what it looks like:
![merge](https://cloud.githubusercontent.com/assets/14084707/11733218/43452ade-9f79-11e5-89b1-07ee483fa564.png)

[2015-12-11 01:11] brookestewart opened #24 "SVG Brainstorm"
I think it would be useful to pick maybe one specific thing that the publishers changes to discover which publication(s) changes Dickinson's manuscript the most. While coding the different versions, I noticed that the dashes were changed quite often, so I propose to make a graph representing the number of dashes in each poem. What does everyone else think? @amielnicki @nlottig94 @blawrence719 @ebe

[2015-12-11 03:16] alexthattalks commented on #23
Uncheck the box next to the file that has the conflict, then you should be able to commit the other changes.

Then, with the file you changed, we can fix it tomorrow in class. Just don't commit that one file.

[2015-12-11 05:20] ebeshero commented on #20
@blawrence719 looks good--for now! Be ready to change/add as more pages come together and @brookestewart works on the dash study!

[2015-12-11 05:37] blawrence719 commented on #19
![12358215_10201058979991998_2057620615_n](https://cloud.githubusercontent.com/assets/14064682/11736697/542c9564-9f9f-11e5-9cca-2305bf697a32.jpg)

Here is my selfie of defeat. Is everyone happy now? Also, sorry for the bad quality. My phone has a really crappy front facing camera.

[2015-12-11 15:48] nlottig94 opened #25 "Helpful Comments for Us from Nell Nelson Group"

[2015-12-11 16:20] KariWomack commented on #25
Here's my suggestion to the Dickinson Project:
~Have a label for all of the images shown in the poem comparison, so readers know which image corresponds to which change in the text.

[2015-12-11 17:08] brookestewart commented on #16
They sent me the missing image of the manuscript!! I'm on mobile, so I can't post it now, but I definitely will when I get home from work tonight, as well as fix that piece that was lost from the merge conflict!

[2015-12-11 18:49] ebeshero commented on #25
Here's a link (Dickinson group) to the City Slave Girls Issue Page for project comments: https://github.com/RJP43/CitySlaveGirls-ChicagoDailyTimes1888/issues/20

[2015-12-11 20:05] ebeshero commented on #16
Wow @brookestewart ! That is wonderful! Did you write to someone at the edickimsonedickinson.org site? Tell us more! Yay!

[2015-12-11 20:07] nlottig94 commented on #16
I actually put it in the correct folder in our GitHub!!  @brookestewart forwarded the email to me!!

[2015-12-11 20:19] ebeshero commented on #16
Ahhh! Don't keep your poor professor in suspense...I'd love to see the message! I am so glad and surprised that they responded--and so quickly too!

[2015-12-12 15:55] spadafour commented on #25
It would be really helpful to know more about the different versions of the poems. What does the Centenary Edition mean? When was that printed? Were there reasons behind these edits? Did Dickinson do them herself? I'm not sure if you plan to address this in your 'About' section (as of writing this, the only thing on your website are the poems, which look REALLY good).

[2015-12-12 19:04] RJP43 commented on #25
I really think you all have your project well under way and it looks fantastic, but I want to remind you that right now the outward facing site on newtfire is still [Greg Bondar's Homepage](http://dickinson16.newtfire.org/). Also, it would be useful for future project development and in case you lead anyone to your GitHub page that you organize the files here a bit more and perhaps write a wiki li

[2015-12-14 06:05] #17 closed, assigned to nobody

[2015-12-14 06:05] #18 closed, assigned to nobody

[2015-12-14 06:05] #19 closed, assigned to nobody

[2015-12-14 06:05] #22 closed, assigned to nobody

[2015-12-14 06:05] #23 closed, assigned to nobody

[2015-12-14 06:05] #21 closed, assigned to nobody

[2015-12-14 06:06] #14 closed, assigned to nobody

[2015-12-14 06:07] #1 closed, assigned to nobody

[2015-12-14 06:07] #2 closed, assigned to nobody

[2015-12-14 06:07] #3 closed, assigned to nobody

[2015-12-14 06:07] #4 closed, assigned to nobody

[2015-12-14 06:07] #7 closed, assigned to nobody

[2015-12-14 06:07] #8 closed, assigned to nobody

[2015-12-14 06:07] #9 closed, assigned to nobody

[2015-12-14 06:07] #10 closed, assigned to nobody

[2015-12-14 06:07] #11 closed, assigned to nobody

[2015-12-14 06:08] #12 closed, assigned to nobody

[2015-12-14 06:08] #13 closed, assigned to nobody

[2015-12-14 17:34] alexthattalks opened #26 "Dickinson Site Enhancements"
Hello All!

I would like to invite you to look at the site so far. I have added a few things after working for 8 hours yesterday. I am excited for you to take a look!! **Don't be alarmed** - Poem 11 is not complete yet. I still have a couple things to do to that one before I publish it. It will be done by end of day today.

The new link is:

http://dickinson16.newtfire.org/1601.html

The changes a

[2015-12-14 17:51] alexthattalks opened #27 "Left To-Do"
Here is our to-do list to wrap up the project. I know it looks like alot is still assigned to me, but it's just the number of items, there is not very much to do with each thing.
- ~~SVG - **Brooke Stewart | @brookestewart** - The SVG for the dash comparison needs done so we can publish to the site.~~
- ~~Info About SVG - **Brooke Stewart | @brookestewart** - Findings derived from the SVG and what

[2015-12-14 22:57] nlottig94 commented on #26
@amielnicki it looks awesome!!!!  It'll be really cool once we get the `@alt` / `@title` to come up!!!

[2015-12-15 02:43] nlottig94 opened #28 "SVG HELP!"
@ebeshero @ghbondar So I'm helping @brookestewart with the SVG.  I am trying to find the total dashes (`&#8212;`) in each original Dickinson poem.  So this is the XPath that I came up with to search for them: `count(//rdg[@wit[contains(., '#df16') or contains(., 'var0') or contains(., 'var1') or contains(., 'var2')]][contains(., '&#8212;')])`
Sorry it's super long!  It seemed to me that it would w

[2015-12-15 03:10] ebeshero commented on #28
@nlottig94 Before I check the poem itself, tell me if there is a chance a dash character could be sitting outside an `<rdg>` element?

[2015-12-15 03:12] nlottig94 commented on #28
I don't believe there are.

[2015-12-15 03:24] ebeshero commented on #28
Just took a look at poem 1, and you're right, they're all inside rdg elements. Actually I think you're missing some dashes because you're not actually counting the dashes themselves, but instead the parent elements that contain them! A few of these elements probably contain multiple dashes.

So you want to be counting the dash characters directly, in any elements' text node. Let's see if we can fi

[2015-12-15 03:25] nlottig94 commented on #28
Okay, I'll look at it tomorrow.  I'm not at my computer right now.

[2015-12-15 03:30] amielnicki commented on #28
It's because it is counting the instances of rdg that have a dash in them, so it is esentially counting the lines... for example, if you run this `//rdg[@wit[contains(., '#df16') or contains(., 'var0') or contains(., 'var1') or contains(., 'var2')]][contains(., '&#8212;')]` it shows you what the 17 are.

I am thinking about how to count the dashes

[2015-12-15 03:31] alexthattalks commented on #28
Opps, didn't mean to do that! I was typing a similar thought to @ebeshero and hit the wrong button lol

[2015-12-15 03:39] ebeshero commented on #28
I'm checking Michael Kay, and I think what we want is analyze-string--but let me check...

[2015-12-15 03:45] ebeshero commented on #28
Read about `<xsl:analyze-string>` in Michael Kay, pages 230+...and some examples around 907-908...

I think I know how to write this...

[2015-12-15 03:47] alexthattalks commented on #26
I just ascertained the email alias `dickinson@pitt.edu` which I can set to automatically forward to all of us when a message is received :)

[2015-12-15 15:28] ebeshero commented on #28
@nlottig94 @brookestewart @amielnicki I tried a few strategies last night and this morning, and it's not quite right! But first of all, I made some corrections to your xsl:stylesheet so it would read TEI, and I found a reliable strategy for plotting the x position of your dots. What's not working is counting the hyphens...yet. I'm confident we'll figure it out, but I pushed what I have so far:

Se

[2015-12-15 15:56] ebeshero commented on #28
@djbpitt Hi David! I wonder if you can help us here: We're looking for a good strategy to do the following on the Dickinson project:
- The Dickinson team is working on preparing SVG graphs to compare how much the different editions reduced Emily Dickinson's hyphens. They're running XSLT over a collection of files (using collection()) in the directory in this GitHub repository called "Dickinson", a

[2015-12-15 16:02] djbpitt commented on #28
Dear Elisa and everyone else,

It looks as if you're defining $hyphenX as equal to a <rdg> element and
then $hyphenCount as the string-length() of that entire <rdg>. I think what
you want in order count the hyphens in the <rdg> is to set $hyphenCount to
something like:

string-length($hyphenX) - string-length(translate($hyphenX,'-',''))

This strips the hyphens from $hyphenX (on the right) and sub

[2015-12-15 23:13] ebeshero commented on #28
I'm finally looking back at this after a busy day! A quick correction for everyone: We should be calling these **dashes** (not hyphens). We're using a dash character. In your write-ups on Dickinson for the site, you really don't want to call these hyphens!

[2015-12-15 23:35] ebeshero commented on #28
@djbpitt  Okay, a follow-up question: When I write this code:

[code]

should it not reach into the `<rdg>` element, analyze the string there for the dash character, and THEN, in `<xsl:matching-substring>` output a letter X every time it encounters the dash (identified with the `@regex` in `<xsl:analyze-string>`? I suspect with you that this is not happening and instead I'm outputting X's for the

[2015-12-16 00:25] ebeshero commented on #28
@djbpitt @nlottig94 @brookestewart @amielnicki Thanks to David's advice I worked out an alternative solution, which I've commented on in this commit: https://github.com/ebeshero/EmilyDickinson16/commit/0e1de33d363022c241bbc879924bf643b85995dd

If you can follow what I've started here, I think you'll be in good shape to continue with calculating your percentages. **Beware of my testOutput SVG**, wh

[2015-12-16 00:30] djbpitt commented on #28
GIven this XML:

<?xml version="1.0" encoding="UTF-8"?>
<root>
    <p>blah—blah—blah——blah</p>
</root>

and this XLST:

<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
exclude-result-prefixes="xs" version="2.0">
    <xsl:template match="/">
        <root>
            xsl:apply-templates/

[2015-12-16 02:11] ebeshero commented on #28
@djbpitt That's what I'd _expect_ to get, and why I thought my strategy with `xsl:analyze-string` would work. But instead it counted way too many characters--in the 400s and 600s, not the 20s or 30s we expect. My hunch is it had to do with my positioning of the variable definition within XSL:for-each, but that is set to look at each of the 11 files one at a time. I wonder if reaching into a new te

[2015-12-16 05:08] blawrence719 commented on #27
@amielnicki I've pushed a .txt file of the about page that I originally wrote in Word. If you want me to put this into a html file, I can do that tomorrow. I'm also not sure if this is what you were looking for on the about page. If not, let me know and I can make changes. I'll probably have to make changes anyway when I reread it tomorrow seeing as I wrote it at midnight.

Sorry for not working o

[2015-12-16 15:16] RJP43 commented on #27
@blawrence719 just a random word of wisdom, learned the hard way, you want to be careful with writing in word because there are a lot of typical characters like the quotations marks, apostrophes, and sometimes brackets/parenthesis (just to name some off the top of my head) of most fonts that appear as jumbled messes when copied into oXygen and rendered in HTML. If doing it for spell check write in

[2015-12-16 15:34] ebeshero commented on #27
@blawrence719 As you know, I agree pretty strongly with @RJP43  on this. Maybe you can be proofreading what you drafted in Word by reworking the text with code in oXygen.

[2015-12-16 17:56] ebeshero commented on #28
@djbpitt @nlottig94 @brookestewart @amielnicki See [my latest commit of the XSLT file](https://github.com/ebeshero/EmilyDickinson16/blob/3b197bfec97abcdf04e116c6547324912c3901f6/xslt_to_SVG.xsl).
 I just figured out how to get `<xsl:analyze-string>` to work, and it outputs the same (good) results) as the first way that worked yesterday. I want to show you Dickinsonians both approaches so you can d

[2015-12-16 22:55] brookestewart opened #29 "Meeting"
@blawrence719 we're in Village Hall if you wanted to meet up! We couldn't meet in the classroom.

[2015-12-16 23:18] blawrence719 commented on #29
I can be up there in about 10 minutes if you're still there

[2015-12-16 23:36] brookestewart commented on #29
Me and Nicole actually had to leave. Dr. B might still be there

On Dec 16, 2015, at 6:28 PM, blawrence719 <notifications@github.com<mailto:notifications@github.com>> wrote:

I can be up there in about 10 minutes if you're still there

##

Reply to this email directly or view it on GitHubhttps://github.com/ebeshero/EmilyDickinson16/issues/29#issuecomment-165283553.

[2015-12-16 23:53] blawrence719 commented on #29
Yeah I already ran up here and figured that out :/

[2015-12-17 01:18] ebeshero commented on #20
@blawrence719 Here are some resources that you will want to refer to and discuss on either the Home or About pages. You're telling the story of the Repurposing of two earlier Dickinson sites, but the very first one really deserves special attention for its daring originality:

Michele Ierardi's site: This the main site we are repurposing, and I did a miserable hack job of it, which your team profe

[2015-12-17 01:27] ebeshero commented on #20
@blawrence719 @amielnicki  @nlottig94 Brooke Lawrence and I are thinking about how to differentiate among the following:

1) The home (index) page for the site (which we think should have pictures and not necessarily a LOT of text, but something to invite readers to explore the site.

2) A page describing the Repurposing you've accomplished, discussing Michele Ierardi's site as the (daring/pioneer

[2015-12-17 02:32] brookestewart commented on #20
I think the Home page should definitely come first. Then the Repurposing could maybe go under the home tab on the website? It seems to be part of the introduction, but if we're keeping the Home page simple and inviting, I think it would work well under the home tab, where it would be separate, but still connected. To me, it would make sense for the methodology page to go under the about tab with o

[2015-12-17 02:34] blawrence719 commented on #20
@brookestewart The repurposing page has kind of become the about page. It's about telling the story of the different sites that this has gone through before it got to us and how we're doing everything (is this correct, @ebeshero ?). I'm unsure about what's going on with the assumptions page. I'm aiming to have majority of the homepage and repurposing/about page done tonight.

But yes, I can proofr

[2015-12-17 03:04] ebeshero commented on #20
@blawrence719 @brookestewart @amielnicki @nlottig94 Yes, what you say is what we spoke of for the Repurposing page. I am not sure about the Assumptions tab, and it could just be a placeholder that Alex would replace with one of these that you are developing!

[2015-12-17 03:04] nlottig94 commented on #28
THE SVG IS FINISHED!!!!  However, @amielnicki  I can't figure out where to paste the svg in the dash html...So the svg is not in a folder.  It is named `Dickinson_SVG.svg`.  Let me know what to do @amielnicki

[2015-12-17 03:13] blawrence719 commented on #20
@ebeshero I've pushed a file of my about page for now if you would like look at it and see if I'm going about this the right way.

[2015-12-17 03:14] ebeshero commented on #28
I think Alex told us how he expected it to come in when we were on the phone earlier but I'm sorry I don't recall the details. I _think_ he just said to paste it on the page. What happens when you do that--is it visible?

For guidance on positioning SVG on the HTML page, see our [JavaScript Exercise 3](http://newtfire.org/dh/JavaScript_Exercise3.html) and look in the third bullet point under "Some

[2015-12-17 03:20] ebeshero commented on #28
And really, this should help: https://css-tricks.com/scale-svg/

[2015-12-17 03:22] #29 closed, assigned to nobody

[2015-12-17 03:22] alexthattalks commented on #28
It is live on the site!!  http://dickinson16.newtfire.org/dash.html

[2015-12-17 03:24] #24 closed, assigned to nobody

[2015-12-17 03:24] nlottig94 commented on #28
It looks awesome @ebeshero !!!!!!!   CHECK IT OUT EVERYONE!!!  @blawrence719 @brookestewart @ghbondar   And thank you for your input @djbpitt !

[2015-12-17 03:24] #16 closed, assigned to nobody

[2015-12-17 03:24] #15 closed, assigned to nobody

[2015-12-17 03:27] alexthattalks commented on #20
If the Repurposing will be on the main about page, then I will leave as is. I will replace the assupmtions page with methodologies as that is more all encompassing as to what the page will include.

[2015-12-17 03:28] blawrence719 commented on #20
I've also pushed a file of what my index looks like for now. Again, any feedback is welcome.
*I realize I haven't pushed the pictures yet

[2015-12-17 03:33] alexthattalks commented on #20
@blawrence719 We can certainly place those images side by side. Go ahead and push them to the GutHub! :)

[2015-12-17 03:37] blawrence719 commented on #20
I just pushed them. I can move them to a folder later

[2015-12-17 03:39] alexthattalks commented on #20
Great! Thanks!! I pushed your about page to the web server. You can see it here: http://dickinson16.newtfire.org/about.html

[2015-12-17 03:40] blawrence719 commented on #20
Is it just me? - I can't see the about page or the dash svg page

[2015-12-17 03:55] alexthattalks commented on #20
Try again, that was my bad. I pushed your info to the homepage too.

http://dickinson16.newtfire.org/
http://dickinson16.newtfire.org/about.html
http://dickinson16.newtfire.org/dash.html

You may need to hold the SHIFT key when reloading the web page, if your browser is caching older versions of the site.

[2015-12-17 05:52] ebeshero commented on #28
@amielnicki @nlottig94 @blawrence719 @brookestewart Wow! That was speedy work, everyone, and what a fascinating graph! I see Brooke Lawrence's intro, about, and conclusion pages are up now, too, and I like what you've done to flesh out the story of our repurposing from Michele Ierardi's old student site. Here are some questions for the team, since I know you're still working on this for another da

[2015-12-17 07:49] brookestewart commented on #28
@ebeshero I have the dash analysis finished except for the bibliography. I could remove some of the bibliographical info from the paragraph that explains the abbreviations and leave just the full title once the bibliography is finished, and just have viewers reference that for more info.
 Should I do it the way it is here: http://www.cs.virginia.edu/~ajf2j/emily/stab.html or MLA format? Does it ma

[2015-12-17 14:02] ebeshero commented on #28
@brookestewart Follow the style for citations that I posted in our 19c Brit Lit Annotation Research Assignment: http://newtfire.org/19cBrit/AnnotResearchAssign.html. MLA style makes sense. You may want to add comments to each entry of the bibliography to provide a little information about each work. Read more about these editions here: https://www.emilydickinsonmuseum.org/posthumous_publication

@

[2015-12-17 14:55] nlottig94 commented on #27
@amielnicki  @blawrence719  @brookestewart  @ebeshero
Here are a list of links to our GitHub Stuff so wherever we need to paste them on our page, they'll be easy to find.  All I need to add to this is Alex's XSLT file (which is on the way) to this list:

Old Files from Br. B.'s Site and Experiements from Our Homeworks:
https://github.com/ebeshero/EmilyDickinson16/tree/master/Old%20Files

Original

[2015-12-17 15:10] alexthattalks opened #30 "Posting Content to Website"
Hello everyone!

Since you will most likely need to add things to the site pages after I leave for my trip, I am typing up this little tutorial on how to do so, to make sure everything comes up correctly.

Step 1 - Editing HTML in GitHub

First, sync your GitHub repository to your local computer. Once it is synced, go to the "Web Files" folder and find the HTML file you want to edit. Open it in oX

[2015-12-17 15:49] ebeshero commented on #30
@amielnicki  Thanks for this very clear tutorial! @blawrence719 will remember I wrote a Facebook message to Michele Ierardi last night to ask for a date when she produced her work and to send her a link to yours. She wrote back this morning! You'll maybe want to incorporate some of this into the site:

"Hi Elisa! Thanks so much for updating me on your work. How exciting! I had a lot of fun explori

[2015-12-17 18:24] blawrence719 commented on #30
@amielnicki @ebeshero I have updated the about page with info on Michele Ierardi and I went to put them onto the webspace and I can't override the original about file. I get an error telling me that I don't have permission

[2015-12-17 19:04] ebeshero commented on #30
@blawrence719 I'll see if I can edit the permissions, though I bet Alex will too. Meanwhile, here is one more piece of info from Michele Ierardi that we should feature: She is now working on a novel built on a Dickinson poem, "The Bustle in a House" and you may want to link to her blog post on it: http://deaddarlings.com/life-death/
(I might not have the Dickinson line right here, so do get it fro

[2015-12-17 19:40] ebeshero commented on #30
@amielnicki I see that I don't have authority to change permissions on the files in dickinson16! If you can shell in and fix that so the group can post, that would be great!

[2015-12-17 20:11] alexthattalks commented on #30
I'll fix them. I'm going into a final now. Give me an hour

[2015-12-17 20:23] ebeshero commented on #30
Thanks, @amielnicki !

[2015-12-17 20:49] alexthattalks commented on #30
Are you on campus @ebeshero?

[2015-12-17 20:54] ebeshero commented on #30
No--at my house! What's up? @amielnicki

[2015-12-17 20:56] ebeshero commented on #30
@amielnicki I can come to campus if you need to see me--let me know--but give me about 30 mins!

[2015-12-17 21:00] alexthattalks commented on #30
Nope, don't need you to. Just wanted to come to your office if you were here to have you test the new permissions. Can you do that now for me?

[2015-12-17 21:01] ebeshero commented on #30
Sure!

[2015-12-17 21:01] ebeshero commented on #30
Shelling in now...

[2015-12-17 21:02] alexthattalks commented on #30
It may be the case, that people should just open the files and copy and paste in the new content from the GitHub file, rather than overwriting. If they overwrite, they will probably have to modify the permissions every time, versus just editing the file. I don't know if they know how to do that though. That is how I edit websites all the time, but I am using a power-user client for Mac.

[2015-12-17 21:03] ebeshero commented on #30
Looks like the permissions have changed....Let me see if I can post a file...

[2015-12-17 21:03] ebeshero commented on #30
Just uploaded about.txt (no problems there)... How about I try to post Brooke Lawrence's revised About page?

[2015-12-17 21:04] ebeshero commented on #30
Yup--looks like that went through...

[2015-12-17 21:06] ebeshero commented on #30
Looks like things are fine now. Did you change permissions on all the directories? Looks like the XML directory is still just you...

[2015-12-17 21:07] alexthattalks commented on #30
I was waiting to see if it worked. I have changed XML, Scripts and IMG folders

[2015-12-17 21:08] ebeshero commented on #30
Hmmm... img and scripts look the same. XML, too. I don't think I'm allowed in those!

[2015-12-17 21:10] ebeshero commented on #30
Anyway, I _can_ update an HTML file in the main directory.

[2015-12-17 21:12] alexthattalks commented on #30
Try exiting and going back in. I made everything 775

[2015-12-17 21:14] ebeshero commented on #30
Ahh. Yes, it's accessible now! I just had to exit and reenter, right.

[2015-12-17 21:14] alexthattalks commented on #30
There are some old folders, namely 'fs16_imgs', 'TEI-XML', 'Other images' that I cannot change. @nlottig94 is going to delete 'fs16_imgs', and @brookestewart  would need to delete 'TEI-XML' and 'Other images' as she created them.

[2015-12-17 21:15] ebeshero commented on #30
Or they could just adjust the permissions--but I guess these aren't actually in use on the site, or are duplicated elsewhere, right?

[2015-12-17 21:15] alexthattalks commented on #30
Correct, they aren't used, they are located elsewhere and organized differently.

[2015-12-17 21:16] alexthattalks commented on #30
I updated my inital comment in this issue with a note about making any file that anyone uploads have 775 permissions.

[2015-12-17 21:16] ebeshero commented on #30
Thank you-- I added one line to your https://github.com/ebeshero/EmilyDickinson16/issues/27 about the Methodology page-- I think @nlottig94 or you could probably write it, but let's just be sure who's doing what, since you're heading out!

[2015-12-17 21:18] alexthattalks commented on #30
I don't care if I have to write it, it doesn't matter to me. I would be available after 10:30pm tonight to do so, before I leave at 5:50am. I have prior plans starting at 4:30pm (in 12 min) until 10:30pm tonight. If I end up writing it, I think you said on another issue what all you think it should have in it.

[2015-12-17 21:20] ebeshero commented on #30
@nlottig94 wrote up a list of GitHub links, on the same issue with what's left to do: https://github.com/ebeshero/EmilyDickinson16/issues/27 Nicole, are you able to write that into a proper page to describe and feature the coding methods the team deployed?

[2015-12-17 21:23] alexthattalks commented on #30
I am heading to my plans this evening. I will be looking at my phone on and off and I will await her response. Like I said, if I have to do it, no biggy, just let me know.

Thanks!
Alex

[2015-12-17 21:42] nlottig94 commented on #30
I can do that @ebeshero and @amielnicki !  I have to finish tweaking my Capstone right no, but when I am finished with that, I will type that up.  It will go on the Methodology page, correct?  And we have one, right Alex?

[2015-12-17 21:48] alexthattalks commented on #30
Yea, we have one on there already. You can just add it to the page.

[2015-12-17 21:55] brookestewart commented on #30
@amielnicki Just letting you know I was able to push to the website!

[2015-12-18 03:24] #28 closed, assigned to nobody

[2015-12-18 03:43] nlottig94 commented on #30
@amielnicki @ebeshero @blawrence719 @brookestewart  The methodology is up and running!!!  Give it a look over for me????  http://dickinson16.newtfire.org/methodologies.html

[2015-12-18 03:57] ebeshero commented on #30
@nlottig94 First line: you're missing an apostrophe on teams mission (should be team's mission)
And...image mapping isn't really a new concept--it has been around a long time--I was making image maps back in the early 2000s before I knew anything about XML!

[2015-12-18 03:59] ebeshero commented on #30
@nlottig94 But I love how you're featuring the brainstorming--and those are wonderful links into the team's GitHub! :+1:

[2015-12-18 04:15] brookestewart commented on #30
@ebeshero I fixed the typos, but when exactly is the due date? I just have to finish the details to go along with the biography and proofread everything else. Tonight is really the only time I can work on it- I have a full schedule tomorrow, then I leave for Canada. Is the deadline strictly midnight?

[2015-12-18 04:26] ebeshero commented on #30
@brookestewart It's not strictly midnight, and the group has a discretionary extension until tomorrow night at midnight should you need it.

[2015-12-18 04:27] ebeshero commented on #30
Methodologies vs, Methodology?
And anyone notice the extra instructions for adding content in p tags on the Dash page?

[2015-12-18 04:29] brookestewart commented on #30
Okay, that helps!
Yes! I'm still working on the dash page. I will remove that now. And change the Methodology.

[2015-12-18 04:29] nlottig94 commented on #30
@amielnicki can you change the name of the page to methodology instead of methodologies?

[2015-12-18 04:30] nlottig94 commented on #30
@brookestewart I think we should keep the word methodology.  And methodologies should be changed

[2015-12-18 04:31] nlottig94 commented on #30
We'll see if Alex answers before we do anything with it

[2015-12-18 04:31] alexthattalks commented on #30
HEY! I just changed the dash page!

[2015-12-18 04:31] alexthattalks commented on #30
Please sync before you do anything and modify that. I fixed the page display.

[2015-12-18 04:32] ebeshero commented on #30
Yep--just saw that and deleted my comment! :+1:

[2015-12-18 04:32] nlottig94 commented on #30
So the methodology is fixed?

[2015-12-18 04:33] alexthattalks commented on #30
I will change the methodologies to methodology. Give me five minutes and make sure you resync everything.

[2015-12-18 04:34] nlottig94 commented on #30
Perfect!!  And I'm nowhere near a computer, so we're fine :)

[2015-12-18 04:38] alexthattalks commented on #30
I fixed all of the methodologies and display errors on the dash page. I have pushed all of my changes to github. PLEASE sync, and check out the site before you make any changes to make sure I didn't already make them. @nlottig94 @ebeshero @blawrence719 @brookestewart

[2015-12-18 04:42] brookestewart commented on #30
Merge conflict with dash.html? It's doing the same thing that happened last week.

[2015-12-18 04:47] alexthattalks commented on #30
It's because you were editing it, and I fixed and pushed it before you finished. Nicole is texting you

[2015-12-18 04:47] alexthattalks commented on #30
I just added our group picture to the about page.

[2015-12-18 04:58] alexthattalks commented on #30
I just added instructions to each poem so people know how the buttons work.

[2015-12-18 06:53] brookestewart commented on #30
Okay, just a quick question. When you go click on the Analysis tab at the top, it takes you to a blank analysis page. Is something supposed to go there, or is it more of a leftover placeholder? Is the dash analysis fine where it is under the graph?

[2015-12-18 07:34] brookestewart commented on #30
Also, when you click on the About tab on the top, the side button still says "Methodologies"

[2015-12-18 13:33] nlottig94 commented on #30
I also see this.  I don't know how to get rid of it though because I don't want to mess with Alex's stuff.. @ebeshero what should we do?  Should we just leave it the way it is and ask Alex about it when he gets back?

[2015-12-18 13:34] nlottig94 commented on #30
@amielnicki if you see this can you tell us what to do?

[2015-12-18 13:37] alexthattalks commented on #30
You can correct it without running the XSLT on the about page, just change it in the html file.

As for the analysis page, it was just a placeholder. But don't delete it, because then there will be broken links.

I am taking off from DC now.

[2015-12-18 13:38] alexthattalks commented on #30
Where it says "methodologies" in the file, just change it to "methodology" same with methodologies.html, just make it methodology.html on the about page

[2015-12-18 13:38] nlottig94 commented on #30
Okay, I will do that!  I'll just type up something small to put in the analysis page!  Have a great time!

[2015-12-18 14:29] nlottig94 commented on #30
Hello all!!  I do believe our website is complete!!!!!  (And it looks pretty darn good, if I do say so myself!)  Thanks for everyone's hard work!!  It was a pleasure working with you all!!  @amielnicki @brookestewart @blawrence719  @ebeshero

Check the full site out!!!  http://dickinson16.newtfire.org

[2015-12-18 19:16] ebeshero commented on #30
@amielnicki @brookestewart @blawrence719 @nlottig94 Huzzah! Congratulations, Team Dickinson! I'll take it that your project work for the semester is now complete. We'll send a detailed response as we wrap up the course grading early next week.

[2015-12-18 19:27] alexthattalks commented on #30
Thank goodness!!!! I'm on my boat now! Bahamas here I come!

[2016-02-26 16:11] #30 closed, assigned to nobody

[2016-02-26 16:11] #27 closed, assigned to amielnicki

[2016-02-26 16:11] #26 closed, assigned to amielnicki

[2016-02-26 16:11] #20 closed, assigned to nobody

[2016-02-26 16:23] nlottig94 opened #31 "Suggestions from Professors"
**_# Dr B:_**
- **General**
  -We are impressed with the highly professional project site you have developed inside of fifteen weeks, and how much the team has learned of the issues of textual scholarship in facing the distinctive challenges of editing Emily Dickinson’s poems for the web!
- **Research questions**
  -You set out to re-purpose two old sites and to create a user interface that would

[2016-02-26 16:26] nlottig94 opened #32 "Ideas for Spring 2016"
@brookestewart and @blawrence719
We need to come up with some ideas of what we want to do with Dickinson this semester.
Dr. B suggested that we could maybe mark up the poems in Liminal and then make a really cool graphic.
Start your suggestions here!!

[2016-03-01 03:09] brookestewart commented on #32
I don't have any specific research ideas yet, but I think it would be a good idea to try to regularize our tagging. I noticed some variations with the published versions are tagged with only the variation in the `rdg` element, whereas others include the whole line where only one or two changes were made, such as a punctuation mark. I could work on this if we can agree how we want to tag the change

[2016-03-16 14:48] nlottig94 commented on #32
- [ ] Make a bibliography page?
- [x] Fix SVG graph? (Lines instead of dots?)
- [ ] Fix the minor element bugs.
- [x] Run XSLT over the XMLs with the line numbers.
- [ ] Apply the Schematron
- [ ] Try Liminal to make cool new visualizations
- [ ] Fix coding errors
- [x] Fix color of `am` because of similarity with `lSD`

[2016-03-16 16:33] brookestewart commented on #32
Our research is going to begin with using Liminal to research overlapping hierarchies within Dickinson's original manuscripts.

[2016-03-16 23:51] nlottig94 commented on #32
@ebeshero Okay...So @brookestewart and I have decided that we don't want to focus our project on only experimenting with Liminal.  We have decided that we want to do what we did with Dickinson's Fascicle 16 with one of her other Fascicles and then maybe (eventually) try to do this for all of her Fascicles!  We are still going to fix the things that needed fixed (applying the Schematron, fix the SV

[2016-03-21 14:50] nlottig94 commented on #32
@ebeshero @ghbondar @RJP43 @spadafour
@brookestewart and I have a few new options for the Dash SVG Graph. [Check them out](https://github.com/ebeshero/EmilyDickinson16/tree/master/SVG_Files)! Let us know what you think and which we should use. We will be trying something different with the legend soon (suggestion from @spadafour).

[2016-03-24 00:19] nlottig94 commented on #32
@ebeshero @brookestewart
At the request of @RJP43, I changed the color of Atlantic Monthly on the new SVG graph (still in progress and will be up soon!), on [the site](http://dickinson16.newtfire.org/1602.html), and on the Image Map (which required me to redo the photoshopping and the image mapping). Overall, it was an easy fix. Let me know what you think of the color!

[2016-04-09 23:18] ebeshero opened #33 "Network Graphs"
@brookestewart @nlottig94 I've been looking at each of your Cytoscape plots and experimenting a little to make them more readable. I pushed the cytoscape, .png, and .svg files [here](https://github.com/ebeshero/EmilyDickinson16/tree/master/Networks)--though you may want to plot these again yourselves and experiment more.

Both of you output lots of edges and those produced some neat ballooning eff

[2016-04-09 23:22] ebeshero commented on #33
On Nicole's plot, I added a text annotation. To do that in Cytoscape, right-click anywhere in the graph, and notice a little pop-up menu comes up. Select Add, and then Text Annotation (but notice there are other things you can do, too). You can use the annotation menu to add arrows and text labels to point out and comment on interesting things about your network.

[2016-04-10 18:38] nlottig94 commented on #33
Thanks @ebeshero!  Both of the networks look great!

[2016-04-10 19:00] nlottig94 commented on #32
[SEE THIS ISSUE](https://github.com/nlottig94/EmilyDickinson6/issues/9)

[2016-04-10 19:00] #32 closed, assigned to nobody